@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee&display=swap');


.Home {
  

  #cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  

  #rightArrow {
    vertical-align: middle;
    filter: invert(1);
  }

  #discoverText {
    font-family: "Archivo Black", sans-serif;
    font-size: 5rem;
    text-align: left;
    line-height: 1.2;
    color: black;
  }

  #crave {
    color: orange;
    text-shadow:
      -1px -1px 1em black,
      1px -1px 1em black,
      -1px 1px 1em black,
      1px 1px 1em black;
  }

  #tryit-button {
    font-size: 1.5rem;
    padding: 0.5em;
    text-align: center;
    align-items: center;
  }

  #cover-paragraph {
    text-shadow:
      -3px -3px 1em black,
      3px -3px 1em black,
      -3px 3px 1em black,
      3px 3px 1em black;
    color: white;
  }

  #inner-cover {
    display: inline;
  }

  

  background-image: url('../src/assets/food_background.jpg');
    background-size: cover;

  .cover-item {
    max-width: 40%;
    margin: 1em;
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }
}